<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AzureDBConnStr" connectionString="Server=tcp:manassqlserver.database.windows.net,1433;Initial Catalog=ManasDB;Persist Security Info=False;User ID=manas-admin;Password=Azure@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=visualstudioblob;AccountKey=yINGusg6HAsDdXr8KZ6Dea3IVKYqNiFGY3PNcoRNHOtARH+6w9ZxN+2zvD1ShogjAlieHJQnW3pfM2aYmeHiow==" />
    <add key="sourceFolder" value="\Office365Data\" />  
    <add key="destFolder" value="manasblobs11" />
   
    <add key="O365SiteUrl" value="https://tieto708.sharepoint.com" />
    <add key="O365UserName" value="testuser1@Tieto708.onmicrosoft.com" />  
    <add key="O365Password" value="test@2016" />
    <add key="SPDocLibName" value="Tieto Documents" />
  <add key="SPDocLibExcel" value="Excel Data" />
  <add key="ExcelSheetName" value="Sheet1" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="true" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>